git:
  autoFetch: false
  paging:
    pager: delta --dark --paging=never

customCommands:
  - key: "<c-t>"
    context: "worktrees"
    command: "wezterm cli spawn --cwd {{.SelectedWorktree.Path}}"
    description: "Open worktree in new WezTerm tab"
